<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

    <context:component-scan base-package="by.degtev.news.dao"/>

    <bean id="dataSource"
          class="org.apache.commons.dbcp.BasicDataSource"
          destroy-method="close">

        <property name="url" value="jdbc:mysql://localhost:3306/spring_news_test"/>
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="username" value="root"/>
        <property name="password" value="123456"/>
        <property name="removeAbandoned" value="true"/>
        <property name="initialSize" value="2"/>
        <!--максимальное число активных соединений-->
        <property name="maxActive" value="5"/>
        <!--максимальное число простаивающих соединений-->
        <property name="maxIdle" value="5"/>
        <property name="minIdle" value="2"/>
        <!--максимальное число скомпилированных запросов -->
        <property name="maxOpenPreparedStatements" value="3"/>
        <!-- время ожидания соединения (-1 бесконечно) -->
        <property name="maxWait" value="-1"/>
        <!-- максимальное время простоя соединения (-1 бесконечно) -->
        <property name="minEvictableIdleTimeMillis" value="-1"/>
        <!-- поддержка пула скомпилированныз заросов -->
        <property name="poolPreparedStatements" value="true"/>


    </bean>

    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">

        <property name="dataSource" ref="dataSource"/>

        <property name="packagesToScan">
            <value>by.degtev.news.pojos</value>
        </property>

        <property name="NamingStrategy">
            <bean class="by.degtev.news.util.CustomNamingStrategy"/>
        </property>

        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="debug>">true</prop>
                <prop key="dialect">org.hibernate.dialect.MySQL5Dialect</prop>
                <prop key="hibernate.cglib.use_reflection_optimizer">true</prop>
                <prop key="hibernate.hbm2ddl.auto">validate</prop>
            </props>
        </property>

    </bean>

    <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager"/>

</beans>