<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="TestSuite" verbose="2" parallel="tests">
    <test name="ChromeTest">
        <parameter name="browser" value="chrome" />
        <parameter name="browserDriverURL" value="C:\\chromedriver.exe" />
        <parameter name="errorMassage" value="Access denied!!!"/>
        <classes>
            <class name="by.news.test.AdminPageTest"/>
        </classes>
    </test>
    <test name="FirefoxTest">
        <parameter name="browser" value="firefox" />
        <parameter name="browserDriverURL" value="C:\\chromedriver.exe" />
        <parameter name="errorMassage" value="Access denied!!!"/>
        <classes>
            <class name="by.news.test.AdminPageTest"/>
        </classes>
    </test>
</suite>